Source: mappage
Section: unknown
Priority: extra
Maintainer: Grzegorz Chimosz <G.Chimosz@students.mimuw.edu.pl>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://fleksem.klf.uw.edu.pl/~jsbien/RTSK_08-09/ocropus/

Package: mappage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ocropus (>= 0.3), python, imagemagick, djvulibre-bin
Description: Set of scripts to find lines of text in DjVu files.
 These scripts are intended to process DjVu single-page document with OCRopus and mark every block found by OCRopus with different colour (actually OCRopus is doing that), then filter all blocks, give them number and make maps (hyperlinks) in the result document.
 This tool was made during University of Warsaw's "Text Representation in Computer Systems" course under professor Janusz S. Bień supervision.

